POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=olist_dw
POSTGRES_USER=olist_user
POSTGRES_PASSWORD=olist_pass
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
DATA_RAW_PATH=./data/raw
DBT_PROFILES_DIR=./dbt/olist_dw
